body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu {
    margin: 20px;
}
.custom-icon {
    font-size: 40px; 
    color: white;    
  }

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#operaciones {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion {
    display: none;
    margin: 10px;
}

.oculto {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}


